* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #F4F8FB;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;

    gap: 80px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    padding: 10px 20px;
    background-color: #1692c7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

header form {
    display: flex;
    gap: 10px;
    align-items: center;
}

header form label {
    font-size: 16px;
    font-weight: 500;
}

header select {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

#total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#total p {
    /* make a block */
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #edf1f5;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 20px;
}

#total p:nth-child(1) {
    background-color: #f33939;
    color: white;
}

#total p:nth-child(2) {
    background-color: #222222;
    color: white;
}

#data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;

    /* gap: 50px; */
}

#data > div:nth-child(2n - 1) {
    background-color: #edf1f5;
} 

.states {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    gap: 20px;
}

.states p {
    width: 28%;
}

.states > div {
    width: 75%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: left;
}

.data-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.data-bar p {
    width: 100%;
    font-size: 12px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
}